/*Default font*/
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
}

#foot {
    text-align: center;
    font-weight: lighter;
}

#navBar{
    text-align: center;
    grid-row: 1;
    background-color: #463F3A;
    padding: 10;
}

/*Double Columns*/
.doubleC{
    display:grid;
    grid-column: 2;
    padding: 5;
}

/*Buttons*/
.button1{
    background-color: #463F3A;
    border: none;
    color: white;
    padding: 5;
    margin: 3;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.button1:hover{
    background-color: #8A817C;
    color: white;
}