/*Default font*/
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
}

img {
    object-fit: cover;
    vertical-align: top;
}

#foot {
    text-align: center;
    font-weight: lighter;
}

#navBar{
    text-align: center;
    grid-row: 1;
    background-color: #463F3A;
}

.gridBox{
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    margin: 20px;
    width: 725px;
}

/*Buttons*/
.button1{
    background-color: #463F3A;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.2s;
    cursor: pointer;
    width:180px;
}

.button1:hover{
    background-color: #8A817C;
    color: white;
}

.button3{
    background-color: #463F3A;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.2s;
    cursor: pointer;
    width:180px;
}

.button3:hover{
    background-color: #beac8a;
    color: white;
}

/*DROPDOWN BUTTON*/
.button2{
    background-color: #463F3A;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.2s;
    cursor: pointer;
    width:180px;
}

.button2:hover{
    background-color: #beac8a;
    color:white;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content {
    border:none;
    display: none;
    position:absolute;
    z-index:1;
}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
}


/*testing container*/
.container{
    display: block;
}

.containerGallery{
    align-content: flex-start;
    object-fit: cover;
}