h1 {
    text-align: center;
    color:white;
    font-family: sans-serif;
    text-size-adjust: 10px;
}

#foot {
    text-align: center;
    font-family: monospace;
}

body{
    background-color: #e5e1dd;
}

span {
    display: inline-block;
    transform: rotate(180deg);
}


.wrapper{
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items:center;
}
.image{
    width:300px;
    position:relative;
}
img{
    width:100%;
    display: block;
    margin:auto;
}
.content{
    width: 100%;
    height: 100%;
    top:0;
    right:0;
    position:absolute;
    background:rgba(255, 255, 255, 0.6);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.3s;
}
.content:hover{
    opacity:1;
}
.content p{
    font-family: monospace;
    color:black;
}





#navBar{
    text-align: center;
    grid-row: 1;
    background-color: #0e0e0e;
}

.buttonNav{
    background-color: #0e0e0e;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.2s;
    cursor: pointer;
    width:180px;
}

.buttonNav:hover{
    background-color: #eeca87;
    color:#0e0e0e;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content {
    border:none;
    display: none;
    position:absolute;
    z-index:1;
}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
}

/*You're on this page, button will not react*/
.buttonMute {
    background-color:#dfad63;
    border: none;
    color: black;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.2s;
    cursor: pointer;
    width:180px;
}