ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
  
li {
    height: 45vh;
    flex-grow: 1;
    list-style-type: none;
}
  
img {
    padding: 2px;
    max-height: 100%;
    min-width: 100%;
    object-fit: contain;
    vertical-align: bottom;
}

li:last-child {
    flex-grow: 10;
}


#flexGallery {
   line-height:0;
   -webkit-column-count:4; /* split it into 4 columns */
   -webkit-column-gap:5px; /* give it a 5px gap between columns */
   -moz-column-count:5;
   -moz-column-gap:5px;
   column-count:4;
   column-gap:5px;
}

#flexGallery img {
   width: 100% !important;
   height: auto !important;
   margin-bottom:5px; /* to match column gap */
}

@media (max-width: 1200px) {
   #flexGallery {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
   }
}
@media (max-width: 800px) {
   #flexGallery {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
   }
}
@media (max-width: 400px) {
   #flexGallery {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
   }
}

#darkbox { width:1280px; height:720px; position:absolute; top:0; left:0; background-color:#232323; overflow: hidden; text-align:center;}
.darkboximg { padding:5%; max-width: 1250px; max-height: 700px;}

